.bundle

.DS_Store
.DS_Store?
Thumbs.db

db/MYSQL
db/PGSQL
db/REDIS/
db/SPHINX/

config/ENV/*
config/SPHINX
config/database.yml

shared/*

binlog
log/*
tmp/*
OLD/Compare/*
config/SPHINX.config

public/assets
public/system
public/uploads

DeployTool
DeployTool/*
NewDeployTool/*
