- content_for :title do
  Открытая Кухня Анны Нечаевой. Новогодние рецепты. Сайт с рецептами простых и доступных блюд, которые может приготовить каждый из самых обычных продуктов

- content_for :meta_tags do
  %meta{ name: :author,      content: "Анна Нечаева" }
  %meta{ name: :description, content: "Открытая Кухня Анны Нечаевой. Пошаговые рецепты с фото. Новогодние рецепты. Рецепты на каждый день и детские рецепты".seo_compact }
  %meta{ name: :keywords,    content: "Анна Нечаева, Новогодние рецепты, рецепты, Шарлотка с яблоками, быстрое дрожжевое тесто, детские рецепты, капкейки, дрожжевое тесто, оладушки, пирожки с щавелем, кулинарные мастер классы".seo_compact }
