- content_for :title do
  Новогодние рецепты 2016. Рецепты к праздничному столу

- content_for :meta_tags do
  %meta{ name: :author,      content: "Анна Нечаева" }
  %meta{ name: :description, content: "Новогодние рецепты. Пошаговые рецепты с фото от Анны Нечаевой".seo_compact }
  %meta{ name: :keywords,    content: "Новогодние рецепты. Рецепты к праздничному столу. ПП меню на новый год.".seo_compact }
