.h1{
  font-size: 24px;
  font-family: Georgia;
  font-style: italic;
  color: #024e9f;
  margin: 15px 0;
}
.h2{
  font-size: 22px;
  color: #024e9f;
  font-family: Arial;
  font-style: italic;
  margin: 15px 0;
}
.h3{
  font-size: 1.8em;
  font-family: Georgia;
  font-style: italic;
  color: #024e9f;
  margin: 15px 0;
}
.h4{
  font-size: 18px;
  font-family: Arial;
  color: black;
  margin: 15px 0;
}
