nav.pagination{
  background: none repeat scroll 0 0 #f1f1f1;
  // border: 1px solid #ccc;
  // margin-top: 10px;

  font-size: 10pt;
  padding: 5px;
  text-align: center;

  a{
    display: inline-block;
    background: lightgray;
    margin-right: 10px;
    padding: 5px;
    height: 17px;
    border-radius: 20px;
    font-size: 1.1em;
  }
  a:hover{ color: black; }
  a.current{ border: 1px solid #b61a1e; }
  a.disabled{
    opacity: 0.5;
    cursor: default;
  }
}
