.js-show_all_comments.show_all_comments.mt30.mb30 Показать все комментарии &mdash; #{@pub.comments_sum}
.js-all_comments.hidden= render partial: "comments/tree", locals: { commentable: @pub, comments_tree: @comments }
