<%
  url = polymorphic_url(pub)
%><i style='display:none'><%= url %></i><div class="fb-like" data-href="<%= url %>" data-width="600" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
