-#
  .special_line
    = link_to 'Новогодние рецепты 2015', post_path('novogodnie-retsepty-2015')

.about.description.open_cook
  = link_to '', root_path, alt: 'На главную', title: 'На главную'
  %p.descr_text
    -# %strong.fwn Рецепты простых и доступных блюд, которые может приготовить каждый из самых обычных продуктов
    %strong.fwn Любимый кулинарный блог с проверенными рецептами
    %br
    %strong OPEN-COOK.RU &mdash; рецепты с пошаговыми фотографиями. <br> На OPEN-COOK.RU вы найдете популярные рецепты приготовления капкейков, рассыпчатой гречки, дрожжевого теста и многого другого.


