<meta property='og:site_name' content='Tailwind' />

<div itemscope itemtype='http://schema.org/Article'>
  <meta itemprop='url' content=“http://blog.tailwindapp.com/words-used-in-pinterest-board-names' />
  <span itemprop='name' content='Popular Words and Symbols Used in Pinterest Board Names'/>

  <span itemprop='author' content='Melissa Megginson' />
  <span itemprop=“datePublished' content=“2013-09-23T21:16:46-05:00' />
  <span itemprop=“articleSection' content=“Marketing' />
  <span itemprop=“keywords' content= “Pinterest' />
  <span itemprop=“keywords' content= “Board names'/>
  <span itemprop=“wordCount' content=“420'/>
  <span itemprop='description'>After analyzing a sample of more than 11,000 popular boards on Pinterest, we found which words and symbols are commonly found in Pinterest board names.</span>
</div>
