%h3.alert.alert-info Регистрация через социальные сети

%p Для удобства пользователей мы настроили на сайте регистрацию через несколько социальных сетей: <b>Вконтакте, Одноклассники, Твиттер, Facebook, Google</b>.
%p Регистрация через социальные сети очень удобна, т.к. вы сможете заходить на сайт с помощью одного клика по иконке социальной сети <b>без ввода логина, электронной почты и пароля</b>.
%p Кроме того, вход через социальные сети безопасен для пользователей, т.к. социальные сети не сообщают никакой важной информации о своих пользователях сторонним сайтам.

%p
  %b Обратите внимание:
  %i{ style: 'color:darkred' }
    Вход на сайт с помощью новой социальной сети приведет к созданию новой учетной записи на сайте open-cook.ru.
  Мы не ограничиваем вас в этом, но вероятно вы захотите, что бы все ваши профили в социальных сетях были связаны с одной учетной записью на сайте open-cook.ru.

%p Что бы выполнять вход на сайт <b>open-cook.ru</b> в один и тот же профиль, через любую социальную сеть, выполните следующие простые шаги:

.alert.alert-info
  %br
  %ol
    %li
      Зарегистрируйтесь на сайте <b>open-cook.ru</b> любым доступным на
      = link_to 'странице регистрации', new_user_session_path
      способом
    %li Выполните вход на сайт <b>open-cook.ru</b>
    %li На <b>странице редактирования профиля пользователя</b> выполните вход через все необходимые социальные сети

