/ .inform-block.inform-block--style-0
/   .inform-block--content.m20.clearfix
/     .tac
/       = link_to 'Посмотреть Новогодние рецепты', 'https://open-cook.ru/tag/новогодние рецепты', class: 'ptz--btn ptz--size-16 inform-block--link'